<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madlibs Questions</title>
</head>
<body>
    <h1>Fill out the Madlib</h1>
    <form action="/story">
        {% for prompt in prompts %}
            <label for="{{ prompt }}">{{ prompt | capitalize }}:</label>
            <input type="text" name="{{ prompt }}" id="{{ prompt }}"><br><br>
        {% endfor %}
        <input type="hidden" name="story_id" value="{{ story_id }}">
        <button type="submit">Generate Story</button>
    </form>
    <a href="/">Go Back</a>    
</body>
</html>
